#species-list .table-view-cell {
  padding: 8px 65px 8px 8px;

  a.species img {
    height: 4.5em;
    width: 6em;
    margin-right: 10px;
  }

  button {
    width: 20%;
    height: 100%;
    max-width: 80px;
    right: 0;
    background-color: transparent;
    border: none;

    &:after {
      content: "";
      background: #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 1px;
    }
  }
}