#species-list {
  margin: 0 -4px;
}

#species-list .table-view-cell {
  height: 80px;
  padding: 8px 65px 8px 8px;

  a.species {
    .media-body {
      line-height: 1.3;
    }

    .pull-left {
      height: 70px;
      width: 96px;
      background: center no-repeat;
      background-size: cover;
    }

    .species-list-main-name {
      font-size: $button-font-size;
      margin: 0 0 8px;
    }

    .species-list-secondary-name {
      font-size: $text-font-size;
    }

    @media only screen and (max-width: 400px) {
      .species-list-main-name {
        font-size: smaller;
      }

      .species-list-secondary-name {
        font-size: 12px;
      }
    }

    span.favourite {
      position: absolute;
      right: 52px;
      top: 8px;
      z-index: 0;
      color: $color-yellow;
    }
  }

  button {
    width: 20%;
    height: 100%;
    max-width: 50px;
    right: 0;
    background-color: transparent;
    border: none;

    &:before {
      margin-left: -2px;
    }

    &:after {
      content: "";
      background: #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 1px;
    }
  }
}

#filter-btn {
  width: 50%;
  max-width: 55px;

  &.on {
    color: $color-yellow;
  }
}

#filters-dialog-header .stats {
  position: absolute;
  top: 16px;
  right: 13px;
  color: gray;
}