#species-list {
  margin: 0 -4px;
}

#species-list .table-view-cell {
  height: 80px;
  padding: 8px 65px 8px 8px;

  a.species {
    img {
      height: 4.5em;
      width: 6em;
      margin-right: 10px;
    }

    .species-list-main-name,
    .species-list-secondary-name {
      font-size: 90%;
      white-space: normal;
      font-weight: 400;
      margin: 0 0 8px;
    }

    @media only screen and (max-width: 400px) {
      .species-list-main-name,
      .species-list-secondary-name {
        font-size: smaller;
      }
    }

    span.favourite {
      position: absolute;
      right: 52px;
      top: 8px;
      z-index: 0;
      color: $color-yellow;
    }
  }

  button {
    width: 20%;
    height: 100%;
    max-width: 50px;
    right: 0;
    background-color: transparent;
    border: none;

    &:before {
      margin-left: 0;
    }

    &:after {
      content: "";
      background: #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 1px;
    }
  }
}

#filter-btn {
  width: 50%;
  max-width: 55px;
}