/******************************************************************************
 * List controls styles used on List page.
 *****************************************************************************/

.ui-icon-filter:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAzNTAgMzIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MS40MTQyMTsiPgogICAgPGcgaWQ9IkxheWVyMiI+CiAgICAgICAgPGcgaWQ9IkxheWVyMSI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik01Ny4yMzcsNjIuMzYxN0MxODEuMzMyLDUwLjI1MjggMjQ4LjE1NSw1OS42NTY3IDI4NS4xNDQsNjAuODIxOEMzMjMuMDc1LDYyLjAxNjUgMjEyLjE5NCwxNjEuNjM1IDIxMC40OCwxNjMuODM1TDIxMi43ODksMjc2LjI1TDE0MS4wNzIsMjUzLjk1NEwxNDEuMTk4LDE2NS40NjhDMTA3LjUzNSwxMzEuNTQ1IDM3LjQwNTksNzQuMjY3MyA1Ny4yMzcsNjIuMzYxN1oiIHN0eWxlPSJmaWxsOmJsYWNrOyIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==');
}

#list-filters .ui-collapsible-content {
  width: 80%;
}

label.filter, label.sort {
  width: 70%
}

#list-filters a{
  width: 70%;
}

#list-filters fieldset,
#list-filters .ui-collapsible-content{
  padding: 0;
  margin: 0;
}


#list-filters label {
  width: 91%;
  background-color: white;
}

#list-controls-clear-button,
#list-controls-save-button{
  width: 30%;
}

#list-controls-button{
  height: auto !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;
}

#list-controls-button.on:after {
  background-color: #3388cc;
}

#list-controls-placeholder {
  margin:0 10px 0 10px;
  top: 80px;
}

#list-controls-tabs,
#list-controls-tabs-multi {
  display: none;
}

.list-controls legend {
  text-align: center;
  font-weight: bold;
}

.list-controls fieldset{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.list-controls fieldset > div{
  width: 100%;
}

#list-controls-counter {
  display: inline;
  margin-left: 0.5em;
  opacity: 0.8;
  font-weight: 100;
}