/******************************************************************************
 * App logo styles.
 *****************************************************************************/

.app-logo{
  margin: 20px auto 10px;
  width: 100%;
  height: 180px;
  background: url('../images/app_logo.png') center center no-repeat;
  background-size: contain;
}

.app-logo-dark{
  margin: 20px auto 0;
  width: 100%;
  height: 180px;
  background: url('../images/app_logo_dark.png') center center no-repeat;
  background-size: contain;
}


.brc-approved-logo{
  display: block;
  width: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.sponsor-logo{
  margin-top: 10px;
  height: 180px;
  background: url('../images/sponsor_logo.png') center center no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 400px) {
  .app-logo, .app-logo-dark, .sponsor-logo {
    height: 100px;
  }
}