/******************************************************************************
 * Location page styles.
 *****************************************************************************/

/* For Google maps */

#map-canvas {
  overflow-y: hidden;

  height: 90vh;
  width: 100%;
}

#map-canvas img{
  max-width: inherit;
}

#location-opts {
  overflow-y: hidden;

  margin-top: 4px;
}

#location .ui-content {
  overflow-y: hidden;
  height: 95vh;
  padding: 0;
}

a.gps {
  position: relative;
}

a.gps.running:after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;

  top: 26%;
  right: 10px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M3%2C7h1L2%2C4L0%2C7h1c0%2C3.313%2C2.687%2C6%2C6%2C6c0.702%2C0%2C1.374-0.127%2C2-0.35v-2.205C8.41%2C10.789%2C7.732%2C11%2C7%2C11C4.791%2C11%2C3%2C9.209%2C3%2C7z%20%20M13%2C7c0-3.313-2.688-6-6-6C6.298%2C1%2C5.626%2C1.127%2C5%2C1.349v2.206C5.59%2C3.211%2C6.268%2C3%2C7%2C3c2.209%2C0%2C4%2C1.791%2C4%2C4h-1l2%2C3l2-3H13z%22%2F%3E%3C%2Fsvg%3E") !important;

  -webkit-animation-name: rotate;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

.ui-tabs-active a.gps.running:after {
  background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE0cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDE0IDE0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNCAxNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiIGQ9Ik0zLDdoMUwyLDRMMCw3aDFjMCwzLjMxMywyLjY4Nyw2LDYsNmMwLjcwMiwwLDEuMzc0LTAuMTI3LDItMC4zNXYtMi4yMDVDOC40MSwxMC43ODksNy43MzIsMTEsNywxMUM0Ljc5MSwxMSwzLDkuMjA5LDMsN3ogIE0xMyw3YzAtMy4zMTMtMi42ODgtNi02LTZDNi4yOTgsMSw1LjYyNiwxLjEyNyw1LDEuMzQ5djIuMjA2QzUuNTksMy4yMTEsNi4yNjgsMyw3LDNjMi4yMDksMCw0LDEuNzkxLDQsNGgtMWwyLDNsMi0zSDEzeiIvPjwvc3ZnPg==") !important;
}
