div#main[data-role=page] {
  background: url('../images/background.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Custom Number Input */
td.numberInput{
  width:95%;
  padding:0 16px 0 16px;
  vertical-align:middle;
}

table.numberInput{
  background-color: #fff /*{a-body-background-color}*/;
  border-color: rgba(202, 202, 202, 0.28) /*{a-body-border}*/;
  color: #3D3D36 /*{a-body-color}*/;
  text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #f3f3f3 /*{a-body-shadow-color}*/;

  margin: .5em 0;
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2);

  background-clip: padding-box;
  border-radius: .3125em /*{global-radii-blocks}*/;
  display: block;

  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif /*{global-font-family}*/;

}

input.numberInput{
  border-color: #ddd /*{a-body-border}*/;
  display: block;
  width: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background-clip: padding-box;
  border-radius: .3125em;
  text-align: start;
}

.sponsor-logo-2 {
   height: 7vh;
   background: url('../images/sponsor_logo_2.png') center center no-repeat;
   background-size: contain;
 }

.main[data-role='content'] {
  width: 70%;
  margin: auto;
  margin-top: 40%;
  height: 30%;
}

ul.main-page{
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 400px;
}

#heat-map{
  height: 55vh;
}
