body {
    margin: 0;
}

/* Buttons in fixed footer control group are shifted down. This lifts them up.*/
.ui-controlgroup{
    margin: 0;
}

.splash-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: #555 solid 2px;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}

img {
    max-width: 100%;
}

/* For Google maps */
#map-canvas img{
    max-width: inherit;
}

/* Information box*/
.info-message {
    font-size: 13px;
    color: #fff;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    border-radius: .4em;
    margin: 0 0 1em;
    padding: 3px 15px 3px 42px;
    line-height: 1.4em;

    background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C2c0.552%2C0%2C1%2C0.447%2C1%2C1S7.552%2C4%2C7%2C4S6%2C3.553%2C6%2C3%20S6.448%2C2%2C7%2C2z%20M9%2C11H5v-1h1V6H5V5h3v5h1V11z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 10px center / 22px auto #3388cc;
}

/* Warning box*/
.warning-message {
    font-size: 13px;
    color: #fff;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    border-radius: .4em;
    margin: 0 0 1em;
    padding: 3px 15px 3px 42px;
    line-height: 1.4em;

    background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M7%2C0L0%2C12h14L7%2C0z%20M7%2C11c-0.553%2C0-1-0.447-1-1s0.447-1%2C1-1c0.553%2C0%2C1%2C0.447%2C1%2C1S7.553%2C11%2C7%2C11z%20M7%2C8%20C6.447%2C8%2C6%2C7.553%2C6%2C7V5c0-0.553%2C0.447-1%2C1-1c0.553%2C0%2C1%2C0.447%2C1%2C1v2C8%2C7.553%2C7.553%2C8%2C7%2C8z%22%2F%3E%3C%2Fsvg%3E") no-repeat 10px center / 22px auto #f0ad4e;
}
/* Warning box*/
.success-message {
    font-size: 13px;
    color: #fff;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    border-radius: .4em;
    margin: 0 0 1em;
    padding: 3px 15px 3px 42px;
    line-height: 1.4em;

    background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E") no-repeat 10px center / 22px auto #5cb85c;
}

.centre {
    text-align: center;
}

label, form label {
    width: auto;
}

/* Increase label width compared to standard jQM. */
@media (min-width: 28em) {
    .ui-field-contain > label,
    .ui-field-contain .ui-controlgroup-label,
    .ui-field-contain > .ui-rangeslider > label {
        width: 30%;
    }
}

/* Wide screens CSS */
@media only screen and (min-width: 650px) {
    /* Scrollbar stops repositioning the page */
    html {
        overflow-y: scroll;
    }

    .ui-page[class] {
        width: 650px;
        margin: 0 auto;
        position: relative;

        box-shadow: 0 0 10px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    }

    .ui-header-fixed, .ui-footer-fixed {
        width: 650px;
        margin-left: -325px;
        left: 50%;
    }
}


/*##################*/
/* DRAGONFLY APP CSS */
/*##################*/

textarea{
    height:70vh !important;
}

/* Custom Number Input */
td.numberInput{
    width:95%;
    padding:0 16px 0 16px;
    vertical-align:middle;
}

table.numberInput{
    background-color: #fff /*{a-body-background-color}*/;
    border-color: rgba(202, 202, 202, 0.28) /*{a-body-border}*/;
    color: #3D3D36 /*{a-body-color}*/;
    text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #f3f3f3 /*{a-body-shadow-color}*/;

    margin: .5em 0;
    border-width: 1px;
    border-style: solid;
    box-shadow: inset 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2);

    background-clip: padding-box;
    border-radius: .3125em /*{global-radii-blocks}*/;
    display: block;

    font-size: 1em;
    line-height: 1.3;
    font-family: sans-serif /*{global-font-family}*/;

}

input.numberInput{
    border-color: #ddd /*{a-body-border}*/;
    display: block;
    width: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    background-clip: padding-box;
    border-radius: .3125em;
    text-align: start;
}

/* Body */
.ui-mobile body{
    height:auto;
}

form, body {
    background: #DBDDC7 !important;
}

.ui-page {
    background: #E2E4CD;
}

.ui-header-fixed, .ui-footer-fixed {
    min-height: 45px;

    background-color: #C6C99F !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

/* Move loader dialog up */
.ui-loader{
    top: 30% !important;
}


/* Date, SRef and Taxon Inputs */
#date-button, #sref-button,
#occurrence, #taxa_taxon_list_id-button, label[for=occurrence\:taxa_taxon_list_id]{
    display:none;
}

/* Record button */
.record-button{
    text-align: left;
}

/* 	Photo picker. */
/*	Dynamic height css from:
	http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */
#photo {
    display: inline-block;
    position: relative;
    width: 30%;
}

#photo-picker {
    margin-top: 75%;
    visibility: hidden;
}

#sample-image-placeholder {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-style: dashed;
    border-color: #A0A286;

    background-color: #DBDDC7;
    background-size: 44px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M12%2C2.5H9.908c-0.206-0.581-0.756-1-1.408-1h-3c-0.652%2C0-1.202%2C0.419-1.408%2C1H2c-1.104%2C0-2%2C0.896-2%2C2%20v6c0%2C1.104%2C0.896%2C2%2C2%2C2h10c1.104%2C0%2C2-0.896%2C2-2v-6C14%2C3.396%2C13.104%2C2.5%2C12%2C2.5z%20M7%2C10.5c-1.657%2C0-3-1.344-3-3c0-1.657%2C1.343-3%2C3-3%20s3%2C1.343%2C3%2C3C10%2C9.156%2C8.657%2C10.5%2C7%2C10.5z%20M7%2C5.5c-1.104%2C0-2%2C0.896-2%2C2c0%2C1.104%2C0.896%2C2%2C2%2C2c1.104%2C0%2C2-0.896%2C2-2%20C9%2C6.396%2C8.104%2C5.5%2C7%2C5.5z%22%2F%3E%3C%2Fsvg%3E");
}

#sample-image-placeholder img {
    position:absolute;
    min-height:100%;
    min-width:100%;
    display:block;
}

.ui-widget-content {
    border: 0px;
    background: transparent;
}

#list-controls-placeholder {
    margin: 10px 10px 10px 10px;
    top: 80px;
    display: none;
}

.list-controls legend {
    text-align: center;
    font-weight: bold;
}

.list-controls fieldset{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
}

.list-controls fieldset > div{
    width: 100%;
}

#species-profile-fav-button.on:after,
#fav-button.on:after {
    background-color: rgb(191, 191, 0);
}

#list-controls-button.on:after {
    background-color: #3388cc;
}

.favourite{
    background-color: rgba(0,0,0,.3) /*{global-icon-disc}*/;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPCEtLSBDcmVhdGVkIHdpdGggU1ZHLWVkaXQgLSBodHRwOi8vc3ZnLWVkaXQuZ29vZ2xlY29kZS5jb20vIC0tPgoKIDxnPgogIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICA8cG9seWdvbiBzdHJva2Utd2lkdGg9IjAiIHN0cm9rZT0iI2ZmZmZmZiIgcG9pbnRzPSIxMS41NTQ3OTM4MzQ2ODYyOCw4LjQyMDMwNTI1MjA3NTE5NSAxNC4yOTY1ODA3OTE0NzMzODksMTYuMzA4MDU5NjkyMzgyODEyIDIyLjY0NTU0MTY2NzkzODIzMiwxNi40NzgyMTYxNzEyNjQ2NSAxNS45OTEwOTQxMTIzOTYyNCwyMS41MjMyNjAxMTY1NzcxNSAxOC40MDkyNTE2ODk5MTA4OSwyOS41MTYxNjg1OTQzNjAzNSAxMS41NTQ3OTM4MzQ2ODYyOCwyNC43NDY0MTc5OTkyNjc1NzggNC43MDAzMzc4ODY4MTAzMDMsMjkuNTE2MTY4NTk0MzYwMzUgNy4xMTg0OTczNzE2NzM1ODQsMjEuNTIzMjYwMTE2NTc3MTUgMC40NjQwNDg4NjI0NTcyNzU0LDE2LjQ3ODIxNjE3MTI2NDY1IDguODEzMDEwNjkyNTk2NDM2LDE2LjMwODA1OTY5MjM4MjgxMiAxMS41NTQ3OTM4MzQ2ODYyOCw4LjQyMDMwNTI1MjA3NTE5NSAxNC4yOTY1ODA3OTE0NzMzODksMTYuMzA4MDU5NjkyMzgyODEyICIgc3Ryb2tlV2lkdGg9Im51bGwiIHN0cm9rZWNvbG9yPSIjZmZmZmZmIiBmaWxsPSIjYmZiZjAwIiBvcmllbnQ9InBvaW50IiByMj0iODUuNzkwODQ0IiByPSIyMTQuNDc3MTA5IiBwb2ludD0iNSIgc2hhcGU9InN0YXIiIGlkPSJzdmdfMTEiIGN5PSI0MjguNDQ0NDI1IiBjeD0iMzU1LjU1NTUzNyIvPgogPC9nPgo8L3N2Zz4=");
}

.taxon{
    width: 75%;
    font-style: italic;
    font-size: x-large;
    margin-top: 1.5%;
    float: left
}

.species-list-common-name{
    font-size: large !important;
    font-weight: bold;
}


#sref-top-button.none:after {
    background-color: rgb(188, 143, 143);
}
#sref-top-button.running:after {
    background-color: rgb(205, 155, 0);
}
#sref-top-button.done:after {
    background-color: rgb(46, 139, 87);
}


@media only screen and (max-width: 400px) {
    .ui-header .ui-title, .ui-footer .ui-title {
        margin-left: 15%;
        font-size: small !important;
    }

    .species-list-common-name{
        font-size: smaller !important;
        font-weight: bold;
    }

    .favourite{
        background-color: rgba(0,0,0,.3) /*{global-icon-disc}*/;
        background-position: right 10px bottom;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPCEtLSBDcmVhdGVkIHdpdGggU1ZHLWVkaXQgLSBodHRwOi8vc3ZnLWVkaXQuZ29vZ2xlY29kZS5jb20vIC0tPgoKIDxnPgogIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICA8cG9seWdvbiBzdHJva2Utd2lkdGg9IjAiIHN0cm9rZT0iI2ZmZmZmZiIgcG9pbnRzPSIxMS41NTQ3OTM4MzQ2ODYyOCw4LjQyMDMwNTI1MjA3NTE5NSAxNC4yOTY1ODA3OTE0NzMzODksMTYuMzA4MDU5NjkyMzgyODEyIDIyLjY0NTU0MTY2NzkzODIzMiwxNi40NzgyMTYxNzEyNjQ2NSAxNS45OTEwOTQxMTIzOTYyNCwyMS41MjMyNjAxMTY1NzcxNSAxOC40MDkyNTE2ODk5MTA4OSwyOS41MTYxNjg1OTQzNjAzNSAxMS41NTQ3OTM4MzQ2ODYyOCwyNC43NDY0MTc5OTkyNjc1NzggNC43MDAzMzc4ODY4MTAzMDMsMjkuNTE2MTY4NTk0MzYwMzUgNy4xMTg0OTczNzE2NzM1ODQsMjEuNTIzMjYwMTE2NTc3MTUgMC40NjQwNDg4NjI0NTcyNzU0LDE2LjQ3ODIxNjE3MTI2NDY1IDguODEzMDEwNjkyNTk2NDM2LDE2LjMwODA1OTY5MjM4MjgxMiAxMS41NTQ3OTM4MzQ2ODYyOCw4LjQyMDMwNTI1MjA3NTE5NSAxNC4yOTY1ODA3OTE0NzMzODksMTYuMzA4MDU5NjkyMzgyODEyICIgc3Ryb2tlV2lkdGg9Im51bGwiIHN0cm9rZWNvbG9yPSIjZmZmZmZmIiBmaWxsPSIjYmZiZjAwIiBvcmllbnQ9InBvaW50IiByMj0iODUuNzkwODQ0IiByPSIyMTQuNDc3MTA5IiBwb2ludD0iNSIgc2hhcGU9InN0YXIiIGlkPSJzdmdfMTEiIGN5PSI0MjguNDQ0NDI1IiBjeD0iMzU1LjU1NTUzNyIvPgogPC9nPgo8L3N2Zz4=");
    }
}

.ui-btn{
    background-color: #F8F8F2 /*{a-bup-background-color}*/;
    color: #3D3D36 /*{a-bup-color}*/;
    border-color: rgba(202, 202, 202, 0.28);
}

a.ui-btn > img {
    margin-left: 3px;
    margin-top: 10px;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
    background-color: #979978;
}

/* Species list record button */
.ui-listview > li.ui-li-has-alt > .ui-btn + .ui-btn {
    width: 3.5em;
}

label.filter, label.sort {
    width: 70%
}

#list-controls-save-button{
    width: 30%;
}

/* This is needed for expanding header not to make a gap in the list
 if the list is left and returned. */
.ui-page-header-fixed {
    padding-top: 2.5em !important;
}

.list-normal-white-space > li > p,
ul[data-role="listview"] > li > strong,
ul[data-role="listview"] > li > p {
    white-space: normal;
}

.app-logo{
    margin: 0 auto;
    width: 100%;
    height: 180px;
    background: url('../images/app_logo.png') center center no-repeat;
    background-size: contain;
}

.brc-approved-logo{
    max-width: 100%;
    height: 144px;
    background: url('../images/BRC_approved_logo.png') center center no-repeat;
    background-size: contain;
}

.sponsor-logo{
    margin-top: 50px;
    height: 100px;
    background: url('../images/sponsor_logo.png') center center no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 400px) {
    .app-logo {
        height: 100px;
    }

    .sponsor-logo {
        height: 50px;
    }
}

/* Flight Graph */
#species-flight {
    height: 12vh;
}
.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
}

/* Species Map */
#species-map{
    width: 80%;
    height: 65vh;
}